{{#each this}}
  <div class="song">
  <h2> {{songTitle}} </h2>
  <span class="songStats"> {{artist}} | </span>
  <span class="songStats"> {{albumTitle}} | </span>
  <span class="songStats"> {{genre}} </span>
  <button class="deleteBtn"> Delete </button>
  </div>
{{/each}}
  {{!-- <button class='more songButton'> More > </button> --}}